---
layout: default
title: Get In Touch
---
<section class="getintouch-organizers">
  <div id="nav01" class="anchor"></div>
  <div class="container__column">
    <h2 class="h2__headline headline__center headline__white">Hack Baltimore team</h2>
    <h3 class="h3__headline headline__center">Core organizers</h3>
    <ul class="getintouch-organizers__content content-list">
{% for member in site.data.organizers %}
      <li class="getintouch-organizers__content_item">
        <div class="getintouch-organizers__content_image container__image">
          <img src="images/organizers/{{ member.image }}" alt="{{ member.name }}" class="image__cover">
        </div>
        <div class="getintouch-organizers__content_info">
          <h4 class="getintouch-organizers__info_h4">{{ member.name }}</h4>
          <h5 class="getintouch-organizers__info_h5">&nbsp;</h5>
          <p class="getintouch-organizers__info_p">{{ member.bio }}</p>
          <div class="getintouch-organizers__info_social">
            {% if member.facebook != null %}
            <a href="{{ member.facebook }}" class="getintouch-organizers__info_link" target="_blank" rel="noopener">
              <svg class="getintouch-organizers__info_icon">
                <use xlink:href="icons/icons.svg#footer-facebook" />
              </svg>
            </a>
            {% endif %}
            {% if member.twitter != null %}
            <a href="{{ member.twitter }}" class="getintouch-organizers__info_link" target="_blank" rel="noopener">
              <svg class="getintouch-organizers__info_icon">
                <use xlink:href="icons/icons.svg#footer-twitter" />
              </svg>
            </a>
            {% endif %}
            {% if member.instagram != null %}
            <a href="{{ member.instagram }}" class="getintouch-organizers__info_link" target="_blank" rel="noopener">
              <svg class="getintouch-organizers__info_icon">
                <use xlink:href="icons/icons.svg#footer-instagram" />
              </svg>
            </a>
            {% endif %}
            {% if member.google != null %}
            <a href="{{ member.google }}" class="getintouch-organizers__info_link" target="_blank" rel="noopener">
              <svg class="getintouch-organizers__info_icon">
                <use xlink:href="icons/icons.svg#footer-google" />
              </svg>
            </a>
            {% endif %}
            {% if member.linkedin != null %}
            <a href="{{ member.linkedin }}" class="getintouch-organizers__info_link" target="_blank" rel="noopener">
              <svg class="getintouch-organizers__info_icon">
                <use xlink:href="icons/icons.svg#footer-linkedin" />
              </svg>
            </a>
            {% endif %}

          </div>
        </div>
      </li>
{% endfor %}
    </ul>
  </div>
</section>
<section class="getintouch-contact">
  <div id="nav02" class="anchor"></div>
  <div class="getintouch-contact__container container__row">
    <ul class="getintouch-contact__display display">
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact01.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact02.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact03.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact04.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact05.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact06.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact07.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact08.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact09.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
    </ul>
    <form action="https://hackbaltimore.us19.list-manage.com/subscribe/post" method="POST" class="getintouch-contact__form form">
      <input type="hidden" name="u" value="006d88fcdbf6654ee1b449bfa">
      <input type="hidden" name="id" value="8e27dbd85e">
      <div class="form__container">
        <h2 class="form__h2">Get in touch!</h2>
        <h3 class="form__h3">Do you have any questions regarding this Hackathon?</h3>
        <div class="form__item">
          <input type="text" class="form__input" placeholder="Name" name="MERGE4" id="MERGE4" required>
          <svg class="form__item_pic">
            <use xlink:href="icons/icons.svg#form-name"/>
          </svg>
        </div>
        <div class="form__item">
          <input type="email" class="form__input" placeholder="Email" name="MERGE0" id="MERGE0" required>
          <svg class="form__item_pic">
            <use xlink:href="icons/icons.svg#form-email"/>
          </svg>
        </div>
        <div class="form__item">
          <input type="tel" class="form__input" placeholder="Phone" name="MERGE3" id="MERGE3" required>
          <svg class="icon__rotate form__item_pic">
            <use xlink:href="icons/icons.svg#form-phone"/>
          </svg>
        </div>
        <div class="form__item">
          <textarea name="MERGE1" id="MERGE1" cols="30" rows="10" class="form__textarea form__input" placeholder="Message"></textarea>
          <svg class="form__item_pic">
            <use xlink:href="icons/icons.svg#form-message"/>
          </svg>
        </div>
        <button type="submit" class="form__button button">Send message</button>
      </div>
    </form>
  </div>
</section>
{% include sponsors.html %}
