---
layout: default
title: Health
---
<section class="areas-headline areas-headline__health">
  <div class="container__row">
    <h2 class="areas-headline__h2">Health & Wellness</h2>
  </div>
</section>
<section class="areas-overview focus-description">
  <div class="areas-overview__content content focus-content">
    <h3 class="h3__headline">What is it?</h3>
    <p class="p__text">Baltimore Experiences some of the starkest health disparities in the country, despite being home to the most innovative research institutions, premier medical systems, and most progressive health policy nationally. In 2018 over 700 Citizens died from an overdose. If expectancy can vary by as much as 20 years between two neighborhoods. Mortality rate in the city is 40% higher than the rest of the state in the ranks last on key health outcomes as compared to other jurisdictions in Maryland. <br><br> Together we can make Baltimore a leader in digital health. Participants in this track will be creating innovative solutions to some of our cities most pressing challenges and creating a healthier Baltimore where every resident can fulfill their potential by focusing on five key areas:
      <ul class="vision__list">
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          Chronic Disease Prevention and Management
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          Opioids
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          Trauma and Mental Health
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          Aging
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          Emergency Preparedness and Response
        </li>
      </ul>
  </div>
</section>
{% include overview.html %}
{% include ideas.html %}
{% include teams.html %}
{% include mentors.html %}
{% include location.html %}
{% include schedule.html %}
{% include bottom-banner.html %}
{% include sponsors.html %}
