---
layout: default
title: Housing
---
<section class="areas-headline areas-headline__housing">
  <div class="container__row">
    <h2 class="areas-headline__h2">Housing</h2>
  </div>
</section>
<section class="areas-overview focus-description">
  <div class="areas-overview__content content focus-content">
    <h3 class="h3__headline">What is it?</h3>
    <p class="p__text">While housing prices are low by comparison to the rest of the country, housing affordability continues to be an issue for Baltimore City residents. With a median household income of $42,665, and 11.8% unemployment, Baltimore City is faced with a unique challenge. Baltimore City housing units are 37% owner occupied, 43% renter occupied, and a whopping 20% vacant units.</p>
  </div>
</section>
{% include overview.html %}
{% include ideas.html %}
{% include teams.html %}
{% include mentors.html %}
{% include location.html %}
{% include schedule.html %}
{% include bottom-banner.html %}
{% include sponsors.html %}
