---
layout: default
title: Participate
---
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/functions.js"></script>


<section class="participate-participant">
  <div id="participant" class="anchor"></div>
  <div class="participate-participant__container container__row">
    <form action="#" id="participate-participant__form" class="participate-participant__form form">
      <div class="form__container">
        <h2 class="form__h2">Want to Become a Participant?</h2>
        <button id="show" class="participant__button button"> Learn More </button>
        <div class="participant__form">
          <iframe id="participant-form" src="https://docs.google.com/forms/d/e/1FAIpQLSen8CT6P-9Bbye9eNitaq_pSxWYulYO5vZ0joSbo2C84-lMIw/viewform?embedded=true" width="640" height="2506" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          <button id="hide" class="participant__button button"> Hide </button>
        </div>
      </div>
    </form>
    <!-- <ul class="participate-participant__display display">
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact01.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact02.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact03.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact04.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact05.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact06.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact07.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact08.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact09.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
    </ul> -->
  </div>
</section>
{% include challenges.html %}
{% include teams.html %}
<section class="participate-funding">
  <div id="prizes" class="anchor"></div>
  <div class="participate-funding__container container__row">
    <div class="participate-funding__content content">
      <h2 class="h2__headline">Funding</h2>
      <h3 class="h3__headline">Prizes & Incentives</h3>
      <p class="p__text">So, the big question: how do we fund such a big hackathon? Like most large-scale events, funding will largely be provided by sponsors.</p>
      <p class="p__text">But since we also want this to be a community-centered and community-driven event, individuals will also be able to donate money to a specific project that they care about. This will increase the prize money and encourage more techies to become involved in that project. </p>
      <p class="p__text">By encouraging all Baltimoreans to get directly involved in the hackathon via donations, time commitments, or tech skills, Hack Baltimore will allow everyone – not just the tech community – to invest in building a better future for Charm City.</p>
    </div>
    <ul class="participate-funding__info">
      <li class="participate-funding__info_item">
        <div class="participate-funding__info_image">
          <svg class="participate-funding__info_icon">
            <use xlink:href="icons/icons.svg#funding-prize01" />
          </svg>
          <div class="participate-funding__info_number">1</div>
        </div>
        <h4 class="participate-funding__info_h4">First place</h4>
        <h5 class="participate-funding__info_h5">$4000</h5>
        <p class="participate-funding__info_p">Cash prize</p>
      </li>
      <li class="participate-funding__info_item">
        <div class="participate-funding__info_image">
          <svg class="participate-funding__info_icon">
            <use xlink:href="icons/icons.svg#funding-prize01" />
          </svg>
          <div class="participate-funding__info_number">2</div>
        </div>
        <h4 class="participate-funding__info_h4">Second place</h4>
        <h5 class="participate-funding__info_h5">$2500</h5>
        <p class="participate-funding__info_p">Cash prize</p>
      </li>
      <li class="participate-funding__info_item">
        <div class="participate-funding__info_image">
          <svg class="participate-funding__info_icon">
            <use xlink:href="icons/icons.svg#funding-prize01" />
          </svg>
          <div class="participate-funding__info_number">3</div>
        </div>
        <h4 class="participate-funding__info_h4">Third place</h4>
        <h5 class="participate-funding__info_h5">$1000</h5>
        <p class="participate-funding__info_p">Cash prize</p>
      </li>
      <li class="participate-funding__info_item">
        <svg class="participate-funding__info_icon">
          <use xlink:href="icons/icons.svg#funding-prize02" />
        </svg>
        <h4 class="participate-funding__info_h4">For participants</h4>
        <h5 class="participate-funding__info_h5">$400</h5>
        <p class="participate-funding__info_p">Cash prize</p>
      </li>
    </ul>
  </div>
</section>
<section class="participate-partners">
  <div id="partners" class="anchor"></div>
  <div class="container__column">
    <h2 class="h2__headline headline__center">Our partners</h2>
    <h3 class="h3__headline headline__center">To be announced</h3>
{% comment %}
    <ul class="participate-participate-partners__content content-list">
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners01.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners02.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">HopHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners03.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">HackUMBC</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners04.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners05.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">Hackathon</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners06.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners03.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners01.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
      <li class="participate-partners__content_item">
        <div class="participate-partners__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/partners02.png" alt="Partner banner" class="image__cover">
        </div>
        <div class="participate-partners__content_info">
          <h4 class="participate-partners__info_h4">MedHacks</h4>
          <p class="participate-partners__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam dicta voluptates eaque, asperiores sint. Neque eos repellendus, voluptates aliquam.</p>
          <a href="#" class="participate-partners__info_link" target="_blank" rel="noopener">
            <svg class="participate-partners__link_icon">
              <use xlink:href="icons/icons.svg#button-arrow" />
            </svg>
            <span class="participate-partners__link_text">partners website</span>
          </a>
        </div>
      </li>
    </ul>
{% endcomment %}
  </div>
</section>
{% include ideas.html %}
{% include location.html %}
<section class="participate-volunteer">
  <div id="volunteer" class="anchor"></div>
  <div class="participate-volunteer__container container__row">
    <ul class="participate-volunteer__display display">
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact01.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact02.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact03.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact04.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact05.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact06.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact07.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact08.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
      <li class="display__item">
        <div class="display__item_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/contact09.png" alt="Volunteer photo" class="image__cover">
        </div>
      </li>
    </ul>
    <form action="#" id="participate-volunteer__form" class="participate-volunteer__form form">
      <div class="form__container">
        <h2 class="form__h2">Want to Become a Volunteer?</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9NqlBua1jGNAPd09qEAayS5MAzMCW0X1eDWInue5v09P3qA/viewform?embedded=true" width="640" height="1196" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </form>
  </div>
</section>
{% include sponsors.html %}
