---
layout: default
title: Safety
---
<section class="areas-headline areas-headline__safety">
  <div class="container__row">
    <h2 class="areas-headline__h2">Public safety</h2>
  </div>
</section>
<section class="areas-overview focus-description">
  <div class="areas-overview__content content focus-content">
    <h3 class="h3__headline">What is it?</h3>
    <p class="p__text">Throughout Baltimore's rich history, Baltimore has been known for many things, as well as being first on numerous achievements in the nation. However, just like any other large cities in the country, Baltimore's not exempt from public safety concerns. Unsafe neighborhoods, and crime activities are common issues faced by large cities across the nation. <br> <br>This is why Public Safety is one of five mayoral pillars in Baltimore City. From a different angle, it is a misconception that public safety is just about lowering crime rate. It is also about addressing questions such as:
      <ul class="vision__list">
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          How can I locate emergency shelters and evacuation routes?
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          How can I be notified of emergency events?
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          How can I get involved in emergency preparedness?
        </li>
        <li class="vision__list_item p__text">
          <svg class="vision__list_icon">
            <use xlink:href="icons/icons.svg#check" />
          </svg>
          How do I get firefighters and fire trucks to visit my school?
        </li>
      </ul>
  </div>
</section>
{% include overview.html %}
{% include challenges.html %}
{% include teams.html %}
{% include mentors.html %}
{% include location.html %}
{% include schedule.html %}
{% include bottom-banner.html %}
{% include sponsors.html %}
