---
layout: default
title: Transportation
---
<section class="areas-headline areas-headline__transportation">
  <div class="container__row">
    <h2 class="areas-headline__h2">Transportation</h2>
  </div>
  <section class="areas-overview">
    <div class="areas-overview__content content">
      <p class="p__text">Transportation is the vehicle that people in a community use to access opportunity and create new experiences. With increasing urbanization, the influx of citizens into urban areas, the demands on the transportation infrastructure are transforming. As new technology for vehicles and public sensors become more ubiquitous, the capabilities for optimizing the current transportation system of many municipalities will be endless. <br><br> Participants of the transportation focus area will address challenges facing public transportation, accessibility and mobility, such as first and last mile connectivity, bridging technology gaps, demand pricing models and others.</p>
    </div>
  </section>
</section>
<section class="areas-overview">
  <div class="areas-overview__content content">
    <p class="p__text">Transportation is the vehicle that people in a community use to access opportunity and create new experiences. With increasing urbanization, the influx of citizens into urban areas, the demands on the transportation infrastructure are transforming. As new technology for vehicles and public sensors become more ubiquitous, the capabilities for optimizing the current transportation system of many municipalities will be endless. <br><br> Participants of the transportation focus area will address challenges facing public transportation, accessibility and mobility, such as first and last mile connectivity, bridging technology gaps, demand pricing models and others.</p>
  </div>
</section>
{% include overview.html %}
{% include challenges.html %}
{% include teams.html %}
{% include mentors.html %}
{% include location.html %}
{% include schedule.html %}
{% include bottom-banner.html %}
{% include sponsors.html %}
