<section class="areas-challenges">
  <div class="container__column">
    <h2 class="h2__headline  headline__center headline__white">Challenges</h2>
    <h3 class="h3__headline_small h3__headline headline__center">These events will be interesting for you!</h3>
    <ul class="areas-challenges__content content-list">
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #01</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #02</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #03</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #04</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #05</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">Challenge #06</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Title:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Description:</h5>
            <p class="areas-challenges__info_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam, excepturi tempore fuga maiores illum!</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">Housing</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Organization:</h5>
            <p class="areas-challenges__info_p">Lorem</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Contact:</h5>
            <p class="areas-challenges__info_p">Terrell Suggs</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="tel:+14105004000" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">+1-(410)-500-4000</a>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5"></h5>
            <a href="mailto:terrel@gmail.com" class="areas-challenges__info_link areas-challenges__info_p" target="_blank" rel="noopener">terrel@gmail.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
