
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/functions.js"></script>

<section class="areas-challenges">
  <div id="ideas" class="anchor"></div>
  <div class="container__column">
    <h2 class="h2__headline  headline__center headline__white">Community Ideas</h2>
    <ul class="areas-challenges__content content-list">
      {% for ideas in site.data.ideas %}
      <li class="areas-challenges__content_item">
        <ul class="areas-challenges__content_info">
          <li class="areas-challenges__info_item">
            <h4 class="areas-challenges__info_h4">{{ ideas.name }}</h4>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Focus Area:</h5>
            <p class="areas-challenges__info_p">{{ ideas.focus }}</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Problem:</h5>
            <p class="areas-challenges__info_p">{{ ideas.problem }}</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Proposed Solution:</h5>
            <p class="areas-challenges__info_p">{{ ideas.solution }}</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Why this matters:</h5>
            <p class="areas-challenges__info_p">{{ ideas.value }}</p>
          </li>
          <li class="areas-challenges__info_item">
            <h5 class="areas-challenges__info_h5">Additional Documentation:</h5>
            <p class="areas-challenges__info_p">{{ ideas.documentation }}</p>
          </li>
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="participate-ideas__container container__row">
    <form action="#" id="participate-ideas__form" class="participate-ideas__form ">
      <div class="form__container ideas-form-container">
        <button id="show-ideas" class="ideas__button button"> Submit an Idea </button>
        <div class="ideas__form">
          <iframe id="ideas-form" src="https://docs.google.com/forms/d/e/1FAIpQLSdiJKU9jEj6UiGVG_46o9A4GuzgrSrePpjaJbJTVzBY3EK-9Q/viewform?embedded=true" width="640" height="1655" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          <button id="hide-ideas" class="ideas__button button"> Hide </button>
        </div>
      </div>
    </form>
  </div>
</section>
