<section class="areas-overview">
  <div class="areas-overview__container container__row">
    <div class="areas-overview__content content">
      <h2 class="h2__headline">Overview</h2>
      <h3 class="h3__headline">Ready to start?</h3>
      <p class="p__text">Have you ever wanted to be a part of the solution for issues in your community? Have you ever had an idea to solve those issues? Attend to partner up with the community and find the resources to make ideas into a reality.</p>
      <p class="p__text">At the upcoming event, you’ll gain access to a wide variety of people – technology experts, social impact experts, startup folks & more. This community is everything needed to get a social impact idea off the ground! We have stellar mentorship, the right framework and all the resources you need to continue to move your current social impact idea forward, launch something brand new, or join a team of folks doing great social impact work!</p>
      <p class="p__text">At the end of the weekend-long event, we have > $2,000 and in-kind resources to provide to teams to help them move their ideas forward even further.</p>
      <a href="#" class="areas-overview__button button">I want to participate</a>
    </div>
    <ul class="areas-overview__info">
      <li class="areas-overview__info_item">
        <div class="areas-overview__info_data">
          <h4 class="areas-overview__info_h4">WHAT IF I DON'T HAVE A TEAM</h4>
          <p class="areas-overview__info_p">No problem! You can find a team once you arrive. Most hackers arrive without a team. You will often find inspiration for ideas at the hackathon.</p>
        </div>
      </li>
      <li class="areas-overview__info_item">
        <div class="areas-overview__info_data">
          <h4 class="areas-overview__info_h4">HOW MUCH DOES IT COST</h4>
          <p class="areas-overview__info_p">HackBaltimore is free! Food, beverages, swag, and workspaces will be provided. You just have to travel to the event and we will take care of the rest! :)</p>
        </div>
      </li>
      <li class="areas-overview__info_item">
        <div class="areas-overview__info_data">
          <h4 class="areas-overview__info_h4">WHAT SHOULD I BRING</h4>
          <p class="areas-overview__info_p">Valid photo ID is required. (State issued ID is highly recommended.) Laptops, sleeping bags, and toiletries are highly recommended.</p>
        </div>
      </li>
      <li class="areas-overview__info_item">
        <div class="areas-overview__info_data">
          <h4 class="areas-overview__info_h4">Will there be travel reimbursements?</h4>
          <p class="areas-overview__info_p"> At this time we will NOT be able to provide travel reimbursement to hackers due to shortage of funds.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
