<section class="areas-schedule">
  <div class="container__column">
    <h2 class="h2__headline headline__center headline__white">Schedule</h2>
    <h3 class="h3__headline_small h3__headline headline__center">Be a part of the Hack Baltimore</h3>
    <ul class="areas-schedule__content content-list">
      <li class="areas-schedule__content__item">
        <h4 class="areas-schedule__content_h4">Friday - March 26</h4>
        <ul class="areas-schedule__content_data">
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">5:00pm</div>
            <p class="areas-schedule__data_p">Doors Open</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">5:30pm</div>
            <p class="areas-schedule__data_p">Dinner & networking (don't miss this!)</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">6:00pm</div>
            <p class="areas-schedule__data_p">Friday night begins! We'll cover everything you need to know, let you pitch, vote on top ideas & form teams for the weekend</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">10:30pm</div>
            <p class="areas-schedule__data_p">Wrap up!</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">10:45pm</div>
            <p class="areas-schedule__data_p">Facilities close</p>
          </li>
        </ul>
      </li>
      <li class="areas-schedule__content__item">
        <h4 class="areas-schedule__content_h4">Saturday - March 27</h4>
        <ul class="areas-schedule__content_data">
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">9:00am</div>
            <p class="areas-schedule__data_p">Doors open & breakfast to start the day!</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">11:00am</div>
            <p class="areas-schedule__data_p">Morning business/mentors arrive</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">12:45pm</div>
            <p class="areas-schedule__data_p">Community updates - circle up and discuss progress</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">1:00pm</div>
            <p class="areas-schedule__data_p">Lunch</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">3:00pm</div>
            <p class="areas-schedule__data_p">Afternoon Mentors arrive</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">6:00pm</div>
            <p class="areas-schedule__data_p">Dinner</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">10:30pm</div>
            <p class="areas-schedule__data_p">Wrap up!</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">10:45pm</div>
            <p class="areas-schedule__data_p">Facilities close</p>
          </li>
        </ul>
      </li>
      <li class="areas-schedule__content__item">
        <h4 class="areas-schedule__content_h4">Sunday - March 28</h4>
        <ul class="areas-schedule__content_data">
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">9:00am</div>
            <p class="areas-schedule__data_p">Doors open + breakfast to start the day</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">11:00am</div>
            <p class="areas-schedule__data_p">Business/mentors arrive + community updates</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">12:00pm</div>
            <p class="areas-schedule__data_p">Lunch</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">1:00pm</div>
            <p class="areas-schedule__data_p">Pitch practice and presentation tech check</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">4:00pm</div>
            <p class="areas-schedule__data_p">Dinner</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">5:00pm</div>
            <p class="areas-schedule__data_p">Final Presentations Begin</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">8:00pm</div>
            <p class="areas-schedule__data_p">Judging and awards</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">8:30pm</div>
            <p class="areas-schedule__data_p">Wrap up and celebrate</p>
          </li>
          <li class="areas-schedule__data_item">
            <div class="areas-schedule__data_time">8:45pm</div>
            <p class="areas-schedule__data_p">Facilities close</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
