<section class="sponsors">
  <div class="container__column">
    <h2 class="h2__headline headline__center headline__white">Our sponsors</h2>
    <h3 class="h3__headline headline__center">Many thanks to all</h3>
    <ul class="sponsors__content">
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Platinum Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Gold Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Silver Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Location Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Technology Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Community Sponsors</h4>
        <ul class="sponsors__content_data">
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors01.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors02.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors03.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
          <li class="sponsors__data_item">
            <a href="#" class="sponsors__data_link" target="_blank" rel="noopener">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/sponsors04.png" alt="HackBaltimore sponsor" class="sponsors__data_image">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
