<section class="sponsors">
  <div class="container__row sponsors-container">
    <div class="container__column sponsors-headline">
      <h2 class="h2__headline headline__center headline__white">Our sponsors</h2>
    </div>
    <ul class="sponsors__content">
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Premier Sponsors</h4>
        {% include sponsor.html level="premier" %}
      </li>
{% comment %}
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Platinum Sponsors</h4>
        {% include sponsor.html level="platinum" %}
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Gold Sponsors</h4>
        {% include sponsor.html level="gold" %}
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Silver Sponsors</h4>
        {% include sponsor.html level="silver" %}
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Location Sponsors</h4>
        {% include sponsor.html level="location" %}
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Technology Sponsors</h4>
        {% include sponsor.html level="technology" %}
      </li>
      <li class="sponsors__content_item">
        <h4 class="sponsors__content_h4">Community Sponsors</h4>
        {% include sponsor.html level="community" %}
      </li>
  {% endcomment %}
    </ul>
  </div>
</section>
