<section class="areas-teams">
  <div class="container__column">
    <h2 class="h2__headline headline__center">Teams</h2>
    <h3 class="h3__headline_small h3__headline headline__center">Sign up a team or join a team today!</h3>
    <ul class="areas-teams__content content-list">
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #01</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #02</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #03</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #04</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #05</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
      <li class="areas-teams__content_item">
        <div class="areas-teams__content_image container__image">
          <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/team01.png" alt="Team photo" class="image__cover">
        </div>
        <ul class="areas-teams__content_info">
          <li class="areas-teams__info_item">
            <h4 class="areas-teams__info_h4">Team #06</h4>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Team name:</h5>
            <p class="areas-teams__info_p">Lorem</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Captain:</h5>
            <p class="areas-teams__info_p">Terrell Suggs.</p>
          </li>
          <li class="areas-teams__info_item">
            <h5 class="areas-teams__info_h5">Members:</h5>
            <p class="areas-teams__info_p"> Javorius Allen, Mark Andrews, Anthony Averett, Chris Board, Tyus Bowser, Nick Boyle, Bradley Bozeman, Orlando Brown.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
